@charset "UTF-8";

/* em html é id = em css é # 
    em htmlé class = em css é . */
body {
    background-color: #8c95aa;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #2f3b57;}
#principal {
    text-align: center;
    background-color: #061539;
    color:#a0b4e4
}    
h2 {
    color:#061539
}
.basico {
    color:#061539
}
.intermediario {
    color:#061539
}

.avancado {
    color:#061539
}
.destaque {
    background-color: yellowgreen;

}
/* porque usar o class? quando precisar de muitos elementos com a mesma característica 
o id é para um elemento único*/